<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar Sucursal</title>
</head>
<body>

    <div class="padre">
        <div class="row justify-content-start color_rojo pl-5 pb-2 pt-2">
            <img src="../img/logo.png" alt="">
            <h1>Sistema de control de inventario</h1>
        </div>
        <div class = "row justify-content-center mt-4s mb-4">
            <div class = "col-3">
                <h2>Agregar Sucursal</h2>
            </div>
        </div>
        <form action="" class="">
            <div class="form-group row" align= "center">
                <label for="ClaveS" class="col-3" >Clave de la sucursal</label>
                <div class="col-4">
                    <input type="text"  placeholder="Clave de la sucursal" id="ClaveS" class="form-control">
                </div>
            </div>
            <div class="form-group row " align="center">
                <label for="NombreS" class="col-3" >Nombre de la sucursal</label>
                <div class="col-4">
                    <input type="text" id="NombreS" class="form-control" placeholder="Nombre de la sucursal">
                </div>
            </div>
            <div class="form-group row" align="center">
                <label for="DireccionS" class="col-3">Dirección de la sucursal</label>
                <div class="col-4">
                    <input type="text" id="DireccionS" class="form-control" placeholder="Dirección de la sucursal">
                </div>
            </div>
            <div class="form-group row" align="center">
                <div class="col-10">
                    <button  class="btn btn-outline-danger btn-lg" >Guardar</button>
                    <button  class="btn btn-outline-danger btn-lg" >Regresar</button>
                </div>
            </div>
        </form>
    </div>
    <link rel="stylesheet" type="text/css" href="../estilos/estilo_login.css">
    <link rel="stylesheet" type="text/css" href="../frameworks/bootstrap.min.css">
    <script src="../frameworks/jquery-3.3.1.min.js"></script>
</body>
</html>
