<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar Productos</title>    
</head>
<body>
    <div class="padre">
        <div class="row justify-content-start color_rojo pl-5 pb-2 pt-2">
            <img src="../img/logo.png" alt="">
            <h1>Sistema de control de inventario</h1>
        </div>

        <div class = "row justify-content-center mt-4 mb-4">
            <div class = "col-5">
                <h2>Agregar Productos</h2>
            </div>
        </div>

        <form action="test.php" class="" method="POST">
            <div class="form-group row" align= "center">
                <label for="ClaveP" class="col-3" >Clave del producto</label>
                <div class="col-4">
                    <input type="text" name="clave" placeholder="Clave del producto" id="ClaveP" class="form-control">
                </div>
            </div>
            <div class="form-group row " align="center">
                <label for="NombreP" class="col-3" >Nombre del producto</label>
                <div class="col-4">
                    <input type="text" name="nombre" id="NombreP" class="form-control" placeholder="Nombre del producto">
                </div>
            </div>
            <div class="form-group row" align="center">
                <label for="PrecioP" class="col-3">Precio del producto</label>
                <div class="col-4">
                    <input type="text" name="precio" id="PrecioP" class="form-control" placeholder="Precio del producto">
                </div>
            </div>
            <div class="form-group row" align="center">
                <label for="FamiliaP" class="col-3">Familia</label>
                <div class="col-4">
                    <input type="text" name="familia" id="FamiliaP" class="form-control" placeholder="Familia">
                </div>
            </div>
            <div class="form-group row" align="center">
                <label for="SubFamiliaP" class="col-3">Sub familia</label>
                <div class="col-4">
                    <input type="text" name="subfamilia" id="SubFamiliaP" class="form-control" placeholder="Sub familia">
                </div>
            </div>
            <div class="form-group row" align="center">

                <div class="col-10">
                    <button  class="btn btn-outline-danger btn-lg">Guardar</button>
                    <button  class="btn btn-outline-danger btn-lg">Regresar</button>
                </div>
            </div>
        </form>
    </div>
    <link rel="stylesheet" type="text/css" href="../estilos/estilo_login.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../scripts-js/AgregarProducto.js"></script>
</body>
</html>
