<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
		<link rel="stylesheet" type="text/css" href="../estilos/estilo_sucursal.css">
    <link rel="stylesheet" type="text/css" href="../estilos/menuUser.css">
    <link rel="stylesheet" href="../frameworks/bootstrap.min.css">
</head>
<body>
    <div class="padre">
        <header>
            <div class = "titulo">
                <img src="../img/logo.png" alt="">
                <h1>Sistema de control de inventario</h1>
            </div>
        </header>
        <div id="presentMain">
			<h2>Bienvenido al sistema de control de inventario de la pastelería Dulce Rojo.</h2>
		</div>

		<div id="menutable">
			<div id="daspage">
				<a href="Agregarproductos.html"><img src="../img/pastelproducto.png" class="imglogo"></a>
				<div class="refmenutext">
					<a href="Agregarproductos.html">Productos</a>
				</div>
			</div>
			<div id="reportspage">
				<a href="ListaProductos.html"><img src="../img/control-inventario.png" class="imglogo"></a>
				<div class="refmenutext">
					<a href="Reportes/listReports.html">Control del producto</a>
				</div>
			</div>
			<div id="reportspage">
				<a href="AgregarSucursal.html"><img src="../img/sucursal-icono.png" class="imglogo"></a>
				<div class="refmenutext">
					<a href="Reportes/listReports.html">Sucursales</a>
				</div>
			</div>
			<div id="reportspage">
				<a href="login.html"><img src="../img/logout-icon.png" class="imglogo"></a>
				<div class="refmenutext">
					<a href="Reportes/listReports.html">Logout</a>
				</div>
			</div>
		</div>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </div>
</body>
</html>
